chatbot_WhastApp.json
{
  "name": "Cheluja_Saludos",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/725589217297058/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer EAAKaZCg8aK7IBOZBblJ0fpamqssUcl2w2OQxCPFsCD8CIEkA6v98WZBGL6VsMngunX1T1qKVAk5xHo3WPjM6zcjZAZCtr6bifg61BOfZAiv4aZB8SrR6H5JX1A7jYZBNAu5aIHLRpQzZCRMVZBjq8ZCu0t3Bk75lZB1HZCQqOWQICwKlj6ZBHsbn204RH4Q9JN73e4e1yMPAKW7zcQgvhZAlny9GMD8cm9APimLZCtQvNUlqT0GZAU0YaEAZDZD"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefono }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"Hola. Bienvenido al Chat Bot Tlalpan.\"\n    },\n    \"body\": {\n      \"text\": \"Selecciona:\"\n    },\n    \"footer\": {\n      \"text\": \"(puedes elegir una opción)\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"reporte\",\n            \"title\": \"Crear un reporte\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"consulta\",\n            \"title\": \"Consultar reporte\"\n          }\n        }\n      ]\n    }\n  }\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2100,
        1900
      ],
      "id": "7fddfbbf-070d-4adc-84ec-c991567a686a",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -3140,
        1540
      ],
      "id": "baa8db24-cb3f-40df-995b-6ac862ea0374",
      "name": "WhatsApp Trigger",
      "webhookId": "86e5efb0-bd9a-448e-9039-b7939332ba8e",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "toOoFcDZaKBtVU3g",
          "name": "Chat_K"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d1163ca-e4e9-49f8-a48f-3e692db9eff3",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2880,
        1580
      ],
      "id": "2384e1bd-41e7-46c1-80f4-c0668c11c9d0",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e665965-7071-4b1a-a056-f348d5fe9011",
              "name": "telefono",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "94f6eb71-260d-4dbd-80de-5d13583f1b67",
              "name": "nombre",
              "value": "={{ $json.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "b65570b4-119f-4356-99d4-6935781524bb",
              "name": "mensaje",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].interactive.button_reply.title }}",
              "type": "string"
            },
            {
              "id": "16833724-6f6b-4111-82e6-325398fa9545",
              "name": "fecha_hora",
              "value": "={{ new Date($json.messages[0].timestamp * 1000).toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2620,
        1560
      ],
      "id": "d5e821ea-f47e-43dd-80d0-bb2eb6e264e5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "448c4787-1bc9-467b-b5f8-c668a4431212",
              "leftValue": "={{ $node[\"Get Row1\"].json.length}}",
              "rightValue": "=0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1700,
        1700
      ],
      "id": "ef48b8cc-da82-44a8-8c0f-e8fe42bbb976",
      "name": "¿Existe el usuario?1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ",
          "mode": "list",
          "cachedResultName": "Información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1440236130,
          "mode": "list",
          "cachedResultName": "consultas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ/edit#gid=1440236130"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefono",
              "lookupValue": "={{ $json.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1940,
        1740
      ],
      "id": "34f18990-1cf9-4230-be5d-17fd421c80d2",
      "name": "Get Row1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ymvZ8fdPZcBNGc3h",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ",
          "mode": "list",
          "cachedResultName": "Información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1777446351,
          "mode": "list",
          "cachedResultName": "Santiago",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ/edit#gid=1777446351"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('Edit Fields1').item.json.telefono }}",
            "view": "={{ $json.view }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "view",
              "displayName": "view",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1160,
        1800
      ],
      "id": "a5a7578b-1a00-4a07-b1ca-179d1a648321",
      "name": "update views1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ymvZ8fdPZcBNGc3h",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ",
          "mode": "list",
          "cachedResultName": "Información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1777446351,
          "mode": "list",
          "cachedResultName": "Santiago",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ/edit#gid=1777446351"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('Edit Fields1').item.json.telefono }}",
            "nombre": "={{ $('If').item.json.contacts[0].profile.name }}",
            "view": "1"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "view",
              "displayName": "view",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1440,
        1640
      ],
      "id": "11b597d9-1af6-4b37-ba0e-5ff9d236924f",
      "name": "new user1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ymvZ8fdPZcBNGc3h",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn [\n  {\n    json: {\n      telefono: $json.telefono,\n      view: ($json.view || 0) + 1\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1480,
        1800
      ],
      "id": "793cab67-33bb-47ac-bb89-a36e2192ceaa",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ",
          "mode": "list",
          "cachedResultName": "Información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 967494605,
          "mode": "list",
          "cachedResultName": "historial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSuAvhmkZky_03zy_NRbD5tI9gGaG1hF3JHY9agefkQ/edit#gid=967494605"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('Edit Fields1').item.json.telefono }}",
            "mensaje": "={{ $('Edit Fields1').item.json.mensaje }}",
            "fecha_hora": "={{ $('Edit Fields1').item.json.fecha_hora }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_hora",
              "displayName": "fecha_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2440,
        1760
      ],
      "id": "aea312c1-05a1-4e8c-9eed-8994e49cf8d8",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ymvZ8fdPZcBNGc3h",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50344530-09e7-428e-a43c-12f4d7b89584",
                    "leftValue": "={{ $json.mensaje }}",
                    "rightValue": "Crear un reporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nuevo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1044992-9128-47b4-ac95-419875a5d0ad",
                    "leftValue": "={{ $json.mensaje }}",
                    "rightValue": "Consultar reporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "97a58f3f-343f-4485-b1b3-cb2014aecf2c",
                    "leftValue": "={{ $json.mensaje }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Enviar primer mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2340,
        1560
      ],
      "id": "974cde0b-b7b5-48d0-8ba7-a92ad0478782",
      "name": "Primer Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/725589217297058/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer EAAKaZCg8aK7IBOZBblJ0fpamqssUcl2w2OQxCPFsCD8CIEkA6v98WZBGL6VsMngunX1T1qKVAk5xHo3WPjM6zcjZAZCtr6bifg61BOfZAiv4aZB8SrR6H5JX1A7jYZBNAu5aIHLRpQzZCRMVZBjq8ZCu0t3Bk75lZB1HZCQqOWQICwKlj6ZBHsbn204RH4Q9JN73e4e1yMPAKW7zcQgvhZAlny9GMD8cm9APimLZCtQvNUlqT0GZAU0YaEAZDZD"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefono }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"Hola. Bienvenido al Chat Bot Tlalpan.\"\n    },\n    \"body\": {\n      \"text\": \"Selecciona el tipo de reporte:\"\n    },\n    \"footer\": {\n      \"text\": \"(puedes elegir una opción)\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"reporte_1\",\n            \"title\": \"Reporte tipo 1\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"reporte_2\",\n            \"title\": \"Reporte de tipo 2\"\n          }\n        }\n      ]\n    }\n  }\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1960,
        1340
      ],
      "id": "91926fab-3f5b-4243-8cb8-326483b3958b",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Primer Switch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe el usuario?1": {
      "main": [
        [
          {
            "node": "new user1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row1": {
      "main": [
        [
          {
            "node": "¿Existe el usuario?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "update views1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primer Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c2c5109-e162-47d2-92ad-497b61da9955",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "7arfk236Ijwjx9PC",
  "tags": []
}